extends ./layout.pug
block contenido

  // Page Heading
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Consulta de las Bases de Datos
  .row
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Campa침as
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            |Nuevo Nicho
            form#formulario.user(method='post' action='/nicho')
              .form-group
                input#usuario.form-control.form-control-user(type='text' name='jsonnicho' placeholder='Nicho')
              .form-group
                input#password.form-control.form-control-user(type='text' name='description' placeholder='Descripci칩n')
              button.btn.btn-success.btn-circle(type='submit') 
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Campa침as
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            |Nuevo Nicho
            form#formulario.user(method='post' action='/nicho')
              .form-group
                input#usuario.form-control.form-control-user(type='text' name='jsonnicho' placeholder='Nicho')
              .form-group
                input#password.form-control.form-control-user(type='text' name='description' placeholder='Descripci칩n')
              button.btn.btn-success.btn-circle(type='submit') 
