doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Global Hermes')
  meta(name='author' content='Global')
  title Hermes Inicio
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  link(href='css/sb-admin-2.min.css' rel='stylesheet')
  link(href='popupS.css' rel='stylesheet')
.container
  .row.justify-content-center
    .col-xl-6.col-lg-8.col-md-6
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          .p-5
            .text-center
              h1.h4.text-gray-900.mb-4 Hermes
            form#formulario.user(method='post' action='/login')
              .form-group
                input#usuario.form-control.form-control-user(type='text' name='usuario' placeholder='Ingrese usuario')
              .form-group
                input#password.form-control.form-control-user(type='password' name='password' placeholder='Contraseña')
              button.btn.btn-primary(type='submit') Iniciar Sesión
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='vendor/jquery-easing/jquery.easing.min.js')
script(src='js/sb-admin-2.min.js')
