extends ./layout.pug
block contenido

  // Page Heading
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Campañas
  .row
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample1' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Nueva Campaña
        // Card Content - Collapse
        #collapseCardExample1.collapse.show
          .card-body
            .mb-3
            .smb-1 Seleccionar nicho
            nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
              a.navbar-brand Seleccionar 
              ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Nicho
                  .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                    option.dropdown-item(value='#') Nicho 1
                    option.dropdown-item(value='#') Nicho 2
                    .dropdown-divider
                    option.dropdown-item(value='#') Cancelar
            p.mb-0.small
            .smb-1 Seleccionar algoritmo de propagación
            nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
              a.navbar-brand Algoritmo
              ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Seleccionar
                  .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                    option.dropdown-item(value='#') Lineal
                    option.dropdown-item(value='#') Logarítmico
                    option.dropdown-item(value='#') Parabólico
                    option.dropdown-item(value='#') Hiperbólico Truncado
                    option.dropdown-item(value='#') Lineal lento
                    option.dropdown-item(value='#') Trigonométrico
                    .dropdown-divider
                    option.dropdown-item(value='#') Cancelar
            p.mb-0.small
            .smb-1 Opciones de cuentas
            nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
              a.navbar-brand Seleccionar 
              ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Opciones
                  .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                    option.dropdown-item(value='#') Usar 10%
                    option.dropdown-item(value='#') usar 50%
                    option.dropdown-item(value='#') usar 25%
                    option.dropdown-item(value='#') usar 75%
                    option.dropdown-item(value='#') usar 33%
                    .dropdown-divider
                    option.dropdown-item(value='#') Usar todas
            p.mb-0.small
              button.btn.btn-success.btn-circle(type='submit')



    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Control de campañas
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            .mb-3
            .smb-1 Cancelar campaña
            p.mb-0.small
              table.table.table-hover
                thead
                tbody
                  tr
                    td Nicho
                    td Cuentas
                    td Algoritmo
                    td Control
                  tr
                    td Test
                    td 100%
                    td Lineal
                    td 
                      button.btn.btn-danger.btn-circle.btn-sm(type='submit')
