extends ./layout.pug
block contenido
  -var nicho = nichos
  -var twitter=twitters
  // Page Heading
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Campañas
  .row 
    .col-lg-12 
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample1' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Nueva Campaña
        // Card Content - Collapse
        #collapseCardExample1.collapse.show
          .card-body
            .mb-3
            form#campaign.smb-1(method='post' action='/newcamp3') Datos nuevos.
              p.mb-0.small
                ul.navbar-nav.ml-auto 
                  input#nombre.form-control.form-control-user(type='text' name='nombre' placeholder='Nombre de Campaña' require)
                  .mb3
              p.mb-0.small
                ul.navbar-nav.ml-auto
                  input#descrip.form-control.form-control-user(type='text' name='descrip' placeholder='Descripción' require)
                  nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
                  a.navbar-brand Nicho
                  ul.navbar-nav.ml-auto
                    select#nicho.form-control.form-control-user.dropdown(type='text' name='nicho' placeholder='Ingrese usuario' require)
                      a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                        | Nicho
                      .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                        each nicho in nichos
                          option.dropdown-item(value=nicho.nicho)=nicho.nicho
                        .dropdown-divider
                p.mb-0.small
                .smb-1 Seleccionar algoritmo de propagación
                nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
                  a.navbar-brand Algoritmo
                  ul.navbar-nav.ml-auto
                    select#algoritmo.form-control.form-control-user.nav-item.dropdown(type='text' name='algoritmo' placeholder='Ingrese usuario' require)
                      a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                        | Seleccionar
                      .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                        option.dropdown-item(value=1) Lineal
                        option.dropdown-item(value=2) Parabólico
                        option.dropdown-item(value=3) Lineal lento
                        .dropdown-divider
                        option.dropdown-item(value='') Cancelar
                p.mb-0.small

                  button.btn.btn-success.btn-circle(type='submit')
