extends ./layout.pug
block contenido

  -var count=countsx
  // Page Heading
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Resumen
  .row
    .col-lg-12
      // Collapsable Card Example
      .card.shadow.mb-4
        // Card Header - Accordion
        a.d-block.card-header.py-3(href='#collapseCardExample' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
          h6.m-0.font-weight-bold.text-primary Cuentas
        // Card Content - Collapse
        #collapseCardExample.collapse.show
          .card-body
            div
              table.table.table-hover
                thead
                  tr Resumen
                tbody
                  tr
                    td Cuentas
                    td Nichos
                      tr 
                        td
                          a=count.countss
                        td
                          a=count.nichoss
