extends ./layout.pug
block contenido

  .col-lg-12
    // Collapsable Card Example
    .card.shadow.mb-4
      // Card Header - Accordion
      a.d-block.card-header.py-3(href='#collapseCardExample3' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
        h6.m-0.font-weight-bold.text-primary Propagación unitaria
      // Card Content - Collapse
      #collapseCardExample3.collapse.show
        .card-body
          .smb-1 Seleccionar cuenta
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Cuenta
            ul.navbar-nav.ml-auto
              select.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Opciones
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  option.dropdown-item(value='#') Cuenta 1
                  option.dropdown-item(value='#') Cuenta 2
                  option.dropdown-item(value='#') Cuenta 3
                  option.dropdown-item(value='#') Cuenta 4
                  option.dropdown-item(value='#') Cuenta 5
                  .dropdown-divider
                  option.dropdown-item(value='#') Cancelar
          p.mb-0.small
          .mb-3
          .smb-1 Seleccionar nicho
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Nicho
            ul.navbar-nav.ml-auto
              select.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Nicho
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  option.dropdown-item(value='#') Nicho 1
                  option.dropdown-item(value='#') Nicho 2
                  .dropdown-divider
                  option.dropdown-item(value='#') Cancelar
          p.mb-0.small
          .smb-1 Seleccionar algoritmo de propagación
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Tiempo entre tweets
            ul.navbar-nav.ml-auto
              select.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Seleccionar
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  option.dropdown-item(value='#') 10 min
                  option.dropdown-item(value='#') 15 min
                  option.dropdown-item(value='#') 20 min
                  option.dropdown-item(value='#') 30 min
                  option.dropdown-item(value='#') 40 min
                  option.dropdown-item(value='#') 45 min
                  option.dropdown-item(value='#') 1 hr
                  option.dropdown-item(value='#') 2 hr
                  option.dropdown-item(value='#') 3 hr
                  option.dropdown-item(value='#') 6 hr
                  option.dropdown-item(value='#') 8 hr
                  option.dropdown-item(value='#') 12 hr
                  option.dropdown-item(value='#') 16 hr
                  option.dropdown-item(value='#') 18 hr
                  option.dropdown-item(value='#') 24 hr
                  option.dropdown-item(value='#') 2 dias
                  option.dropdown-item(value='#') 1 semana
                  option.dropdown-item(value='#') 1 mes
                  option.dropdown-item(value='#') 3 meses
                  option.dropdown-item(value='#') 6 meses
                  .dropdown-divider
                  option.dropdown-item(href='#') Cancelar
          p.mb-0.small
            .smb-1 Tiempo de propagacion
            nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
              a.navbar-brand Tiempo de campaña
              ul.navbar-nav.ml-auto
                select.nav-item.dropdown
                  #navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Seleccionar
                  .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                    option.dropdown-item(value=1) 1 hr
                    option.dropdown-item(value=2) 2 hr
                    option.dropdown-item(value=3) 3 hr
                    option.dropdown-item(value=4) 6 hr
                    .dropdown-divider
                    option.dropdown-item(value='') Cancelar
            p.mb-0.small

            button.btn.btn-success.btn-circle(type='submit')


  .col-lg-12
    // Collapsable Card Example
    .card.shadow.mb-4
      // Card Header - Accordion
      a.d-block.card-header.py-3(href='#collapseCardExample2' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
        h6.m-0.font-weight-bold.text-primary Control unitario
      // Card Content - Collapse
      #collapseCardExample2.collapse.show
        .card-body
          .mb-3
          .smb-1 Seleccionar cuenta
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Cuenta
            ul.navbar-nav.ml-auto
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Seleccionar
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  option.dropdown-item(value='#') Cuenta 1
                  option.dropdown-item(value='#') Cuenta 2
                  .dropdown-divider
                  option.dropdown-item(value='#') Cancelar
          p.mb-0.small
            table.table.table-hover
              thead
              tbody
                tr
                  td Nicho
                  td Resumen
                  td Programado
                  td Control
                tr
                  td test
                  td test
                  td 2h
                  td 
                    button.btn.btn-danger.btn-circle.btn-sm(type='submit')
