extends ./layout.pug
block contenido
  -var nicho = nichos
  -var twitter=twitters
  .col-lg-12
    // Collapsable Card Example
    .card.shadow.mb-4
    // Card Header - Accordion
    a.d-block.card-header.py-3(href='#collapseCardExample3' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='collapseCardExample')
      h6.m-0.font-weight-bold.text-primary Propagación unitaria
    // Card Content - Collapse
    #collapseCardExample3.collapse.show
      .card-body
        form#unita.smb-1(method='post' action='/unitact') Seleccionar cuenta
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Cuenta
            ul.navbar-nav.ml-auto
              select#cuenta.nav-item.dropdown.form-control.form-control-user(type='text' name='cuenta' require)
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                    each twitter in twitters
                      option.dropdown-item(value=twitter.usuario)=twitter.usuario
                      .dropdown-divider
                      option.dropdown-item(value='') Cancelar
          p.mb-0.small
          .mb-3
          .smb-1 Seleccionar nicho
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Nicho
            ul.navbar-nav.ml-auto
              select#nicho.form-control.form-control-user.dropdown(type='text' name='nicho' )
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Nicho
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  each nicho in nichos
                    option.dropdown-item(value=nicho.nicho)=nicho.nicho
                  .dropdown-divider
                  option.dropdown-item(value='#') Cancelar
          p.mb-0.small
          .smb-1
          nav.navbar.navbar-expand.navbar-light.bg-light.mb-4
            a.navbar-brand Tiempo entre tweets
            ul.navbar-nav.ml-auto
              select#propag.form-control.form-control-user.nav-item.dropdown(name='propag' type='number')
                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | Seleccionar
                .dropdown-menu.dropdown-menu-right.animated--grow-in(aria-labelledby='navbarDropdown')
                  option.dropdown-item(value=10) 10 min
                  option.dropdown-item(value=20) 20 min
                  option.dropdown-item(value=30) 30 min
                  option.dropdown-item(value=60) 1 hr
                  option.dropdown-item(value=120) 2 hrs
                  .dropdown-divider
                  option.dropdown-item(href='') Cancelar
          button.btn.btn-success.btn-circle(type='submit')
